*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.nav_content{
    margin-left: 30px;
    padding: 10px;
}

.navbar-nav{
    font-size: 17px;
}
.nav-link ,li a:hover{
    /* text-decoration: underline; */
    color: white !important;
    background-color: rgb(25,135,84);
    transition: all 0.3s;
    border-radius: 8px;
}
.product{
    cursor: pointer;
}


.card{
    /* width: 250px;
    height: 400px; */
    margin-bottom: 20px;
}

.about{
    cursor: pointer;
}
.about:hover{
    text-decoration: underline;
}

.icons{
    cursor: pointer;
    /* margin-left: 40%; */
    font-size: 40px;
}